<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>EmpleosApp | Formulario de Registro</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
  </head>

  <body>

    <header >
      <nav  th:fragment="menu-country" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
   		<a class="navbar-brand" th:href="@{/Home}">HR</a>
   		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      		<span class="navbar-toggler-icon"></span>
    	</button>
      	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
        	<ul class="navbar-nav mr-auto">   
         	</ul>  
          	<a class="btn btn-primary" href="#">Ingresar</a>&nbsp;
          	<a class="btn btn-primary" href="#">Registrarse</a>
      	</div>
	</nav>
   </header>
    <main role="main">     
      <hr>
      <div class="container"> 
        <div class="card">
          <h4 class="card-header"><strong>Actualizar registro de pais</strong></h4>              
          <div class="card-body">
            <form th:action="@{/home/jobs/update}" method="post">            
              <div class="row">
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="jobid">Codigo de trabajo</label>
                    <p style="Text-align:center;" th:text="${job.get().getJobid()}"></p>
                  	<label for="jobtitle">Nombre del trabajo</label>
                    <p style="Text-align:center;" th:text="${job.get().getJobtitle()}"></p>
                  	<label for="minsalary">Min salario</label>
                    <p style="Text-align:center;" th:text="${job.get().getMinsalary()}"></p>
                    <label for="maxsalary">Max salario</label>
                    <p style="Text-align:center;" th:text="${job.get().getMaxsalary()}"></p>
                  </div>
                </div>
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="jobid">Nuevo codigo de trabajo</label>
                    <input type="text" class="form-control" id="jobid" name="jobid" placeholder="Ejemplo: SH_CLERK" required="required">
                  	<label for="jobtitle">Nuevo nombre del trabajo</label>
                    <input type="text" class="form-control" id="jobtitle" name="jobtitle" required="required">
                  	<label for="minsalary">Nuevo Salario minimo</label>
                    <input type="text" class="form-control" id="minsalary" name="minsalary" required="required">
                    <label for="maxsalary">Nuevo Salario maximo</label>
                    <input type="text" class="form-control" id="maxsalary" name="maxsalary" required="required">
                  </div> 
                </div>    
              </div>                  
              <hr>
              <button type="submit" title="Guardar datos del pais" class="btn btn-primary">Actualizar</button>  
            </form>
          </div>
        </div>
      </div> <!-- /container -->

    </main>

    <footer class="footer">
      <div class="container">
        <p>
          &copy; 2019 EmpleosApp, Inc. | WebApp Desarrollada con Spring Boot 2.1.2 | Autor: Iv&aacute;n E. Tinajero D&iacute;az | &middot; <a href="#">Privacy</a>
          &middot; <a href="#">Terms</a>
        </p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script> 
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>     
  </body>
</html>